/* Write your CSS here */
.about-dark-theme {
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.page-alignment {
  width: 100%;
  height: 90%;
}

.about-light-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-styling {
  width: 250px;
  height: 250px;
}
